body {
    background-color: antiquewhite;
}
.clock {
    background-color: #F6F1F1;
    border-radius: 50%;
    height: 25vw;
    width: 25vw;
    border: 10px solid black;
    margin: 0px auto;
    position: relative;
}

.hour, .minutes, .seconds {
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
}

.hour {
    width: 10px;
    height: 30%;
    top: 25%;
    left: 50%;
    background-color: #146C94 ;
}

.minutes {
    width: 8px;
    height: 35%;
    top: 20%;
    left: 50%;
    background-color: #19A7CE ;
}

.seconds {
    width: 5px;
    height: 45%;
    top: 10%;
    left: 50%;
    background-color: #000000;
}
